{% extends "./base.html" %}


{% block title %} Gestion de Usuarios {% endblock %}

{% block content %}
<div>

    <nav>
        <ul class="nav-links">
            <li><a href="https://unl.edu.ec"><img src="/static/images/logo_0.png" alt="Logo de la Universidad"
                style="width: 200px; height: 70px; margin-left: 100px; margin-top: 20px;"></a></li>
                <li><a href="inicio">Inicio</a></li>
                <li><a href="https://www.web-leb.com/code">Estudiantes</a></li>
                <li><a href="gestion_usuario">Administraciónnnnn</a></li>
                <li><a href="https://www.web-leb.com/code">Perfil</a></li>
                <li style="margin-bottom: 40px;"><a href="https://www.web-leb.com/code" class="input-icon uil uil-bell"
                    class="icon"></a></li>
                    <li><button class="login-button" onclick="redirectToLogin()">Inicio de Sesión</button></li>
                </ul>
    </nav>
            
</div>

{% endblock %}
