{% extends "./base.html" %}


{% block title %} Inicio {% endblock %}

{% block content %}

<div class="col-12 text-center align-self-center py-5">

    <div class="section pb-5 pt-5 pt-sm-2 text-center">
        <div class="informacion">

            <img src="/static/images/unl.png" alt="Logo de la Universidad"
                style="width: 200px; height: 200px; margin-left: 50px; margin-top: 20px; margin-bottom: 20px;">

            <h1>Proyecto Integrador de Saberes</h1>
            <h2>COMPUTACIÓN 6TO CICLO</h2>
            <h2>¡Bienvenido a nuestra página web de tutorías!</h2>

            <p>Aquí encontrarás una plataforma dedicada a ayudarte en tu camino académico. Nuestro equipo de tutores
                altamente calificados está listo para brindarte el apoyo y la guía que necesitas para alcanzar tus metas
                educativas.</p>

            <p>Explora nuestros servicios de tutoría personalizada, encuentra el tutor ideal para tus necesidades
                específicas y lleva tus habilidades al siguiente nivel.</p>

            <p>¡Comienza tu camino hacia el éxito académico con nosotros!</p>
        </div>
    </div>
</div>
{% endblock %}