{% extends "./base_admin.html" %}

{% block title %}Materias{% endblock %}

{% block content1 %}
<div class="section" >
  <div class="row full-height justify-content-center" > 
    <div class="col-12 text-center align-self-center py-5" style="background-color: rgba(0, 0, 0, 0.427);">
      <div class="section pb-5 pt-5 pt-sm-2 text-center">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="text-dark">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %} 
            <h2>Gestión de Materia</h2>
            <div class="card">
              <div class="card-body">
                <form action="{% url 'subject' %}" method="POST">{% csrf_token %}
                  {{ form.as_p }}
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1>Listado de Materias</h1>
            <div class="table-responsive py-2">
              <table class="table table-striped">
                <thead>
                  <tr style="color: aliceblue;">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Tutor</th>
                    <th colspan="2">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in subjects %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.tutor}}</td>
                    <td><a href="edicionCurso/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                    <td><a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}